<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <nav class="head-nav">
        <div class="main-navbar">
            <span id="icon1" class="icon"><i class="fa-solid fa-atom"></i><a href="/home">Scan</a></span>
            <span id="icon2" class="icon"><i class="fa-solid fa-triangle-exclamation"></i><a href="/awarness">Awarness</a> </span>
            <span id="icon3" class="icon"><i class="fa-solid fa-chart-column"></i><a href="/insights">Insights</a> </span>
            <span id="icon4" class="icon"><i class="fa-solid fa-leaf"></i><a href="/alternatives">Alternatives</a> </span>
            <span id="icon5" class="icon"><i class="fa-regular fa-circle-question"></i><a href="/howItWorks">How It Works</a></span>
            <span id="icon6" class="icon"><i class="fa-solid fa-circle-exclamation"></i><a href="/about">About</a></span>

        </div>
    </nav>
    <div class="safety-container">
        <div id="scientific-safety-panel">
        <i class="fa-solid fa-atom"></i>
        Scientific Safety Update 2024
    </div>
    </div>
    
</body>
</html>