*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height:100vh;
}
.main-navbar{
    border:2px solid black;
    height:75px;
    width:90%;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;;
    
}
.icon{
    height:80%;
    width:100%;
    display: inline;
    align-items:center;
    justify-content: space-evenly;
    border:2px solid yellow;
}
