*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height:100vh;
    background-color: radial-gradient(circle, #ffffff 40%, #eef2f7 100%);
    /* display: inline;
    align-items: center;
    justify-content: center; */
}
.main-navbar{
    border:transparent;
    height:50px;
    width:60%;
    color:rgba(66, 68, 60, 0.36);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 12px;
    
}
.head-nav{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top: 7px;
}
.icon{
    height:80%;
    width:auto;
    cursor:pointer;
    color:rgba(72, 39, 162, 0.796);
    /* border:2px solid yellow; */
    padding-top: 10px;
}
.main-navbar span:hover{    /*icon*/
    color:rgba(61, 6, 22, 0.916);
    background-color: rgb(216, 112, 147);
    padding: 10px;
    height:auto;
    border-radius: 25px;
    z-index:1;
    transform: translate3d(0px,-8px,0px);

}
.icon a:hover{
    color:rgba(61, 6, 22, 0.916);
}
.icon a{
    text-decoration: none;
    font-weight: 600;
}
#icon1{
    border-radius: 25px;
    width:max-content;
    
    font-weight: 500;
    color:rgba(72, 39, 162, 0.796);

}

.icon i {
    padding-right:5px;
}



/* scientific safety panel */
#scientific-safety-panel{
    border:2px solid rgba(0, 0, 255, 0.344);
    border-radius: 30px;
    height:max-content;
    width:max-content;
    padding:10px;
    font-size: small;
    color:orange;
    font-size: 600;
    
}
#scientific-safety-panel i{
    color:blue;
}
.safety-container{
    display: flex;
    align-items:center;
    justify-content: center;
    width:100%;
    padding-top: 3.5%;
}
