#backtoscan{
    border:none;
    background: none;
    font-size: 15px;
    color: rgb(114, 121, 127);
    margin-left:10px;
    margin-top: 10px;
    font-family: 'Merriweather','sekuya';
    font-weight: 800;
    
}
body{
    background-color: #f5f7fb;
    font-family: 'Merriweather';
}
#analysis-id{
    margin-left: 40px;
    color: rgb(114, 121, 127);;
}
#toxic{
    font-size: 60px;
    font-weight: bolder;
    margin-left: 30px;
    display: inline-block;
}
#treport{
    color: rgb(144, 229, 59);
}
#download{
    position: relative;
    left: 250px;
    font-size: 40px;
}
#share{
    position: relative;
    left: 255px;
    font-size: 40px;
}
#analyze_np{
    position: absolute;
    left: 970px;
    font-size: 20px;
    border-style: none;
    background: none;
    background-color:rgb(63, 178, 81);
    padding:15px;
    border-radius: 20px;
    color: #f5f7fb;
    font-weight: 700;
    top:270px;
}
.report_status{
    height: 500px;
    width: 1200px;
    background-color: beige;
    margin-left: 20px;
    margin-right:20px;
    margin-top: 30px;
}
#score{
    position: relative;
    height: 500px;
    width: 400px;
    background-color: rgb(185, 185, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
#round_score{
    height: 250px;
    width: 250px;
    background-color: aqua;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#score_content{
    background-color: aliceblue;
}
#synthesis{
    position: relative;
    left: 600px;
}