#backtoscan{
    border:none;
    background: none;
    font-size: 15px;
    color: rgb(114, 121, 127);
    margin-left:10px;
    margin-top: 10px;
    font-family: 'Merriweather','sekuya';
    font-weight: 800;
    
}
body{
    background-color: #f5f7fb;
    font-family: 'Merriweather';
}
#analysis-id{
    margin-left: 40px;
    color: rgb(114, 121, 127);;
}
#toxic{
    font-size: 60px;
    font-weight: bolder;
    margin-left: 30px;
    display: inline-block;
}
#treport{
    color: rgb(144, 229, 59);
}
#download{
    position: relative;
    left: 250px;
    font-size: 40px;
}
#share{
    position: relative;
    left: 255px;
    font-size: 40px;
}
#analyze_np{
    position: absolute;
    left: 970px;
    font-size: 20px;
    border-style: none;
    background: none;
    background-color:rgb(144, 229, 59);
    padding:15px;
    border-radius: 20px;
    color: #f5f7fb;
    font-weight: 700;
    top:270px;
}

.report-card{
    display: flex;
    background-color: rgba(226, 228, 228, 0.842);
    gap:40px;
    padding:30px;
    margin:20px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 8px 25px rgba(1, 10, 22, 5.05);
    transition: all 0.3s ease;
}
.report-card:hover {
  transform: translateY(-5px);
    box-shadow: 
  0 4px 10px rgba(0,0,0,0.04),
  0 10px 25px rgba(0,0,0,0.06);
}
.left{
    flex:1;
    display: flex;
    justify-content: center;
}
.circle{
    height: 250px;
    width: 250px;
    border:15px solid rgb(144, 229, 59);
    border-radius:50%;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .circle h1{
    font-size: 80px;
    font-weight:bolder;
} */
.safety{
    font-weight: 5006;
    font-size: 10px;
    color: gray;
}
.score{
    font-weight: 900;
    font-size: 60px;
    color: rgb(144, 229, 59);
}

.right{
    flex:2;
}
.tag {
  color: rgb(144, 229, 59);
  font-weight: 600;
  margin-bottom: 10px;
    line-height: 40px;

}
.title {
  font-size: 62px;
  line-height: 40px;
  font-weight: 900;
}
.title span {
  color: rgb(144, 229, 59);
  
}
.desc {
  color: #6b7280;
  margin: 15px 0;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 30px;
  max-width: 650px;
}
.stats {
  display: flex;
  gap: 60px;
  margin-top: 20px;
    line-height: 40px;

}
.label {
  font-size: 12px;
  color: gray;
  
}
.safe {
  color: rgb(144, 229, 59);
  
}
/* Transitions and smoothness */


button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
.circle {
  transition: all 0.3s ease;
}

.circle:hover {
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.4);
}
.report-card {
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

i {
  transition: 0.3s;
  cursor: pointer;
}

i:hover {
  transform: scale(1.2);
  color: #22c55e;
}